<div class="container-fluid p-3">
  <mat-card>
    <mat-card-content class="d-flex justify-content-between">
      <mat-card-title>{{ npc.name }}</mat-card-title>
      <button mat-raised-button (click)="changePage('lista-npc')">BACK</button>
    </mat-card-content>
  </mat-card>
</div>
<div class="container-fluid px-3">
    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="INFO">
            <div class="row mt-3 w-100">
              <div class="col-3 mb-3" *ngFor="let field of npcFields">
                <div>{{ field.label }}</div>
                <div class="fw-bold">{{ field.value }}</div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="DROPLIST">
            <app-droplist filtro="npc"></app-droplist>
          </mat-tab>
          <mat-tab label="SKILLS">
            <app-lista-npc-skill></app-lista-npc-skill>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
</div>
