<table mat-table [dataSource]="dataSource" matSort>
  <ng-container [matColumnDef]="colunas[0]">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ colunas[0].toUpperCase() }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.id }}
    </td>
  </ng-container>
  <ng-container [matColumnDef]="colunas[1]">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ colunas[1].toUpperCase() }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>
  <ng-container [matColumnDef]="colunas[2]">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ colunas[2].toUpperCase() }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.level }}
    </td>
  </ng-container>
  <ng-container [matColumnDef]="colunas[3]">
    <th mat-header-cell *matHeaderCellDef style="width: 40px"></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="excluir(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="colunas"></tr>
  <tr mat-row *matRowDef="let row; columns: colunas"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[10, 25, 100]"
  aria-label="Select page of users"
></mat-paginator>
